<%- include('../includes/header') %>

<body>
<%- include('../includes/nav') %>

<div class="w-full h-screen flex justify-center items-center">
    <div class="shadow-md shadow-gray-200 rounded-xl px-10 py-8">
        <h1 class="text-gray-700 text-2xl font-black mb-3">Sign In</h1>
        <form action="/user/signin" method="POST">
            <%- include('../includes/input', { type: "text", name: "email", placeholder: "Enter your email", value:null }) %>

            <%- include('../includes/input', { type: "password", name: "password", placeholder: "Enter your password", value:null }) %>

            <%- include('../includes/button', { type: "submit", content: "Sign In" }) %>

            <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
        </form>
    </div>
</div>
</body>

</html>